
footer {
  background: #1e1e2f;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  width: 100%;
}


.footer-container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px;
  text-align: left;
}
.footer-section {
  margin-bottom: 6px;
}
.footer-section h3 {
  font-size: 16px;
  margin-bottom: 8px;
  position: relative;
  padding-bottom: 3px;
  color: goldenrod;
}
.footer-section p{
  font-size: 11px;
}

.footer-links {
  list-style: none;
}
.footer-links li {
  margin-bottom: 2px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: 10px;
}
.footer-links a:hover {
  color:  goldenrod;
  transform: translateX(5px);
}
.social-links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
 
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--bg-color);
  border-radius: 50%;
  color: rgb(233, 95, 36);
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
.social-links a:hover {
  background-color: var(--secondary-color);
  color: goldenrod;
  transform: translateY(-5px);
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 0.5rem;
}
.contact-info {
  margin-top: 15px;
}
.contact-info p {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.contact-info i {
  margin-right: 10px;
  color: var(--secondary-color);
}
@media (max-width: 768px) {
  .footer-container {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 426px) {

  .footer-section {
    margin-bottom: 1px;
  }
  .footer-section h3 {
      font-size: 13px;
      margin-bottom: 10px;
  padding-bottom: 2px;
  }
  .footer-section p{
    font-size: 10px;
  }
  .footer-links a {
      font-size: 8px;
  }
  .footer-links li {
    margin-bottom: 0;

  }
  .social-links a {
    font-size: 1rem;
  }
  .footer-bottom {
    margin-top: 5px;
    padding-top: 10px;
    font-size: 8px;
  }
  .contact-info {
    margin-top: 1px;
  }
  .contact-info p {
    margin-bottom: 20px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    font-size: 10px;
  }
  
 
}
